Source: multimarkdown
Section: text
Priority: extra
Maintainer: ChangZhuo Chen <czchen@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/fletcher/peg-multimarkdown
#Vcs-Git: git://git.debian.org/collab-maint/multimarkdown.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/multimarkdown.git;a=summary

Package: multimarkdown
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multimarkdown (MMD) markup converter
 Multimarkdown (MMD, peg-multimarkdown) is a tool for converting Markdown
 lightweight markup formatted documents into several output formats like HTML,
 LaTeX, and ODT.

Package: multimarkdown-dbg
Architecture: any
Depends: multimarkdown (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Multimarkdown (MMD) markup converter (debug symbol)
 Multimarkdown (MMD, peg-multimarkdown) is a tool for converting Markdown
 lightweight markup formatted documents into several output formats like HTML,
 LaTeX, and ODT.
 .
 This package contains debug symbols which are useful for debug.
